.card {
    margin: 0%;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3em;
    margin: 0%;
  }
  
  .count {
    padding: 1em;
    font-size: larger;
    font-weight: 800;
  }