#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.bloc {
  background-color: rgb(57, 57, 57);
  padding: 1em;
  border-radius: 1em;
}

.container-general {
  display: flex;
  flex-direction: column;
  gap: 1em;
}